*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    background-color: rgb(83, 105, 110);
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button{
    cursor: pointer;
}
.logo{
    margin-left: 50px;
    color: white;
}
.operation{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 10px;
    margin: 0 50px;
}
.btn-container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px 0 0;
   
}
.txt-items{
    color: white;
    text-align: center;
}
.add{
    background-color:#007BFF;
    color: white;
}
.add:hover{
    background-color: #218dff;
}
.remove{
    background-color: #ff0000 ;
    color: white;
}
.remove:hover{
    background-color: #ff4d4d;
}
.edit{
    background-color: rgba(0, 0, 0, 0.362);
    color: white;
}
.edit:hover{
    background-color: rgba(0, 0, 0, 0.299);
}
.add, .remove, .edit {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.btn-transactions{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.362);
    color: white;
}

form{
    z-index: 1000;
}

.form{
    width: 250px;
    height: 250px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.647);
    border-radius: 20px;
    border: 2px solid white;
}
.close{
    position: absolute;
    top: -20px;
    right: -5px;
    background-color: transparent;
    border: none;
    width: 30px;
    background-color: red;
    cursor: pointer;
}
.product-name, .product-quantity{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.submit{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color:#007BFF;
    color: white;
}
.stocks-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 20px;
}
.stocks-wrapper{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.585);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    position: relative;
    padding: 20px;
}
.stock-name{
    text-align: center;
    font-size: 1rem;
    width: 100%;
    overflow-wrap: anywhere;
}
.stock-quantity{
    overflow-wrap: anywhere;
}
.remove-wrapper{
    padding: 10px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(214, 208, 208);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.txt-remove{
    color: black;
    font-size: 16px;
}
.btn-container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
.yes{
    background-color: #ff0000 ;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}
.no{
    background-color:#6C757D ;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.edit-container{
    width: 200px;
    height: 200px;
    background-color: rgb(170, 170, 170);
    border-radius: 20px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}
.update-submit{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;   
    align-self: center;
}
.checkbox{
    position: absolute;
    top: 0;
    right: -5px;
    transform: scale(1.5);
}
.transactions-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color:#143d69;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    gap: 20px;
}
.txt-transaction{
    color: white;
}
.transaction-history{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
    height: 100%;
}
.transactions-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.362);
    border-radius: 20px;
    gap: 10px;
}
.transaction-type{
    color: white;
}
.transactions-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.transaction-name{
    font-size: 24px;
    font-weight: bold;
}
.transaction-name, .transaction-date-time{
    color: white;
}
.transactionName-quantity{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
.transaction-quantity{
    color: white;
}
.footer{
    color: white;
    text-align: center;
}